html {
	font-size: 100%;
}

body {
	font-family: $bodyFont;
	margin: 0;
	padding: 0;
}

.wrapper {
	max-width: 80vw;
	margin: 0 auto;
	padding: 2rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $headingFont;
	padding: 0;
	margin: 0;
}

h1 {
	font-weight: 300;
	color: white;
	font-size: 3rem;
	letter-spacing: 1rem;
	margin: 0 auto;
	.smallerHead {
		display: block;
		font-family: $bodyFont;
		font-size: 2rem;
		letter-spacing: 0.5rem;
	}
}



ul {
	list-style: none;
	margin:0;
	padding: 0;
}

img {
	max-width: 100%;
	display: block;
}

footer {
	text-align: center;
	font-family: $bodyFont;
	color: $white;
	background: $black;
	a {
		color: $hotPink;
		text-decoration: none;
		&:hover {
			color: $white;
		}
	}
}

.view {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: visibility 0s linear 0.3s, opacity 0.3s 0.3s;
}

.hidden {
    visibility: hidden;
	// display: none;
	height: 0;
    opacity: 0;
    transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.disable-buttons {
    pointer-events: none;
}

.filter-container button.is-selected {
		font-weight: 500;
		color: $purple;
}

