html {
	font-size: 100%;
}

body {
	font-family: $bodyFont;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $headingFont;
	padding: 0;
	margin: 0;
}

ul {
	list-style: none;
	margin:0;
	padding: 0;
}

img {
	max-width: 100%;
	display: block;
}

.view {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: visibility 0s linear 0.3s, opacity 0.3s 0.3s;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.disable-buttons {
    pointer-events: none;
}





