.look-details {
    width: 90vw;
    margin: auto;
    .look-section {
        float: left;
        width: 35%;
    }
    .product-section {
        float: right;
        width: 60%;
    }
    // change this to posab later
    .exit-button {
        float: right

    }
}


.products-gallery {
    .product-cell {
        display: inline-block;
        width: 15vw;
        height: auto;
        overflow: hidden;
        .product-img-cell {
            width: 15vw;
            height: 15vw;
            position: relative;
            border: 1px solid lightsteelblue;
            img {
                height: 100%;
                position: absolute;
                left: 50%;
                // top: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

.main-carousel {
  background: #FAFAFA;
  position: relative;
  height: 200px;
  // width: 100%;
}

.carousel-cell {
  width: 20%;
  height: 200px;
  margin-right: 10px;
  border-radius: 5px;
  // counter-increment: carousel-cell;
  display: inline-block;
}
