main {
    button.is-selected {
        background: lightgreen; // temporary style
    }
}

.looks-gallery{
    width: 80vw;
}

.look-cell {
    display: inline-block;
    width: 16vw;
    height: 16vw;
    margin-right: 5%;
    border: 1px solid lightsalmon;
    position: relative;
    overflow: hidden;
    .overlay{
        position: absolute;
        background-color: rgba(0,0,0,0.3);
        border: none;
        width: 16vw;
        height: 16vw;
        opacity: 0;
        transition: all 0.3s;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 40%;
            height: auto;
        }
        .look-type{
            text-align: center;
            position: absolute;
            bottom: 3.5vw;
            left: 50%;
            transform: translateX(-50%);
            font-size: 14px;
            color: white;
            text-transform: uppercase;
            font-family: $bodyFont;
            font-weight: 700;
            letter-spacing: 4px;
        }
    }
    .likes-cell{
        position: absolute;
        right: 0;
        bottom: 0;
        width: 80px;
        height: 45px;
        background-color: rgba(0,0,0,0.3);
        transition: all 0.3s;
        button{
            height: 45px;
            cursor: pointer;
            display: inline-block;
            border: none;
            background-color: transparent;
            img {
                width: 40px;
                height: 40px;
            }
        }
        h5 {
            display: inline-block;
            width: auto;
            font-weight: 300;
            letter-spacing: 3px;
            font-size: 20px;
            color: white;
            vertical-align: top;
            padding-top: 5px;
        }
    }
}

.look-cell:hover{
    .overlay{
        opacity: 1;
    }
    .likes-cell{
        background-color: transparent;
    }
}

.like-button:focus{
    outline: 0;
}

