// Slider

.slider-wrapper{
  width: 80%;
  display: inline-block;
  position: relative;
  font-family: arial;
}

.ui-slider{
  background: #efefef;
  border: 1px solid #d2d2d2;
  height: 20px;
  position: relative;
  border-radius: 100px;
}

.ui-slider-range{
  background: lightsteelblue;
  height: 20px;
  position: absolute;
  // border-top: 1px solid #5d99c8;
  // border-bottom: 1px solid #5d99c8;
  transform: translateY(-1px);

  &:after{
    content: '';
    width: 100%;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
}

.ui-slider-handle{
  background: #555;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 50%;
  display: block;
  transform: translate(-50%, -50%);
  border-radius: 100px;
  z-index: 10;
  background: linear-gradient(#555, #454545);
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  box-shadow: inset -2px -2px 6px 2px rgba(0,0,0, 0.1);
  transition: width 0.1s;

  &:focus{
    outline: none;
  }

  &:active{
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
}

.ui-state-active{
  width: 22px;
}


// Price Markers

.marker{
  position: absolute;
  top: 100%;
  padding-top: 16px;
  font-size: 13px;
  color: #555;
  letter-spacing: 0.05em;
  transform: translateX(-50%);

  &:after{
    content: '';
    width: 1px;
    height: 8px;
    background: #d2d2d2;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.marker-0{
  &:after{
    display: none;
  }
}

.marker-25{
  left: 25%;
}

.marker-50{
  left: 50%;
}

.marker-75{
  left: 75%;
}

.marker-100{
  right: 0;
  transform: translateX(50%);

  &:after{
    display: none;
  }
}
