// Color pallet

$white:#ffffff;
$purlple:#711b45;
$hotPink:#ef446d;
$black:#000000;


// Font family

$headingFont:'Oswald', sans-serif;
$bodyFont: 'Roboto Regular', sans-serif;

// fonts

$paragraph: 16px;






